---
import ExpandableSection from '../../layouts/ExpandableSection.astro';
import IngredientInput from './IngredientInput.astro';

interface SubstituteComponent {
    name: string;
    proportion: number;
    unit?: string;
}
interface Props {
    result: string;
    ingredients: SubstituteComponent[];
    defaultTotal: number;
    unit: string;
    note?: string;
}
const {result, ingredients, defaultTotal, unit, note} = Astro.props;
---
<ExpandableSection title={result} level={2}>
    <p>{note}</p>
    <div class="flex flex-col gap-2 w-fit">
        { ingredients.map((ingredient, index) => 
            <substitute-component data-name={ingredient.name} data-proportion={ingredient.proportion}>
                <IngredientInput name={ingredient.name} unit={ingredient.unit ?? unit} defaultValue={defaultTotal * ingredient.proportion} symbol={index == 0 ? " " : "+"}/>
            </substitute-component>
        )}
        <result-component class="pt-2 border-t-2 border-main-800">
            <IngredientInput name={result} unit={unit} defaultValue={defaultTotal} symbol={"="}/>
        </result-component>
    </div>
</ExpandableSection>

<script>
    import ResultComponent from "../../custom-elements/ResultComponent.ts"
    import SubstituteComponent from "../../custom-elements/SubstituteComponent.ts"
</script>