---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import { getPageLink } from "../utils.ts";
import { ICONS, NAV_SECTIONS, PAGE_NAMES } from "../const.ts";
import ThemeToggle from "./ThemeToggle.astro";
import Logo from "./Logo.astro";

const navSections = NAV_SECTIONS.filter((section) => section.path != PAGE_NAMES.ARCHIVE)
---
<div class="hidden print:block mb-4">
	<Logo/>
</div>
<header class="sticky top-0 z-50 filled-background print:hidden">
	<div>
		<div id="navigation" class="flex flex-row items-center gap-2 px-20 pt-5 h-20 pb-1 border-b-2 border-main-600 portrait:px-10">
			<button id="menu-button" class="landscape:hidden">
				<Icon id="close-icon" class="hidden hover:text-main-400" name={ICONS.CLOSE}/>
				<Icon id="menu-icon" class="hover:text-main-400" name={ICONS.MENU}/>
			</button>
			<a href={getPageLink()}>
				<Logo/>
			</a>
			<div class="flex flex-row items-center flex-1 gap-4 justify-end">
				<div class="flex flex-row items-center gap-2 portrait:hidden">
					{navSections.map((section) => (
						<a href={getPageLink(section.path)} class="nav hover-shadow">
							<span>{section.display}</span>
							{ section.icon && <Icon class="text-lg" name={section.icon}/>}
						</a>
					))}
				</div>
				<ThemeToggle/>
			</div>
		</div>
		<div id="menu" class="hidden relative">
			<div id="menu-contents" class="filled-background absolute top-0 flex gap-5 flex-col w-screen h-fit pt-4 pb-6 px-8 z-10 rounded-b-xl bg-white">
				{navSections.map((section) => (
					<a href={getPageLink(section.path)} class="h-10 text-xl nav hover-shadow">
						<span class="pl-2">{section.display}</span>
						{ section.icon && <Icon class="text-lg" name={section.icon}/>}
					</a>))}
			</div>
		</div>
	</div>
	<div id="menu-background" class="hidden popup-bg"></div>
</header>

<style>
	:global(.dark) #navigation {
		@apply border-main-900;
	}

	.nav {
		@apply flex flex-row items-center gap-1 px-2 py-1 transition-all rounded-full border-transparent hover:border-main-500;
	}
    :global(.dark) .nav { @apply border-transparent hover:border-main-900 }
</style>

<script>
	let isOpen = false;
	
	function toggleMenu(isClosing?: boolean){
		isOpen = isClosing ? false : !isOpen;
		document.getElementById("menu")?.classList.toggle("hidden", !isOpen);
		document.getElementById("close-icon")?.classList.toggle("hidden", !isOpen);
		document.getElementById("menu-icon")?.classList.toggle("hidden", isOpen);
		document.getElementById("menu-background")?.classList.toggle("hidden", !isOpen);
		document.documentElement.style.overflow = isOpen ? "hidden" : "auto";
	}

	document.getElementById("menu-button")?.addEventListener("click", () => {toggleMenu()});
	document.getElementById("menu-background")?.addEventListener("click", () => {toggleMenu(true)});
</script>