---
import { Icon } from "astro-icon/components";
import { getPageLink } from "../utils.ts";
import { ICONS, PAGE_NAMES, SITE_TITLE } from "../const.ts";
const pages = [["Recipes", undefined],
			["Saved", PAGE_NAMES.SAVED, ICONS.SAVED],
			["Substitutions", PAGE_NAMES.SUBSTITUTIONS],
			["About", PAGE_NAMES.ABOUT],
			["FAQ", PAGE_NAMES.FAQ]];
---
<header class="sticky top-0 z-50">
	<div class="flex flex-row items-center justify-between gap-2 px-20 pt-5 h-20 pb-1 bg-white border-b-4 portrait:justify-start border-main-600 portrait:px-10">
		<button id="close-button" class="hidden landscape:hidden"><Icon class="hover:text-main-400" name={ICONS.CLOSE}></Icon></button>
		<button id="menu-button" class="landscape:hidden"><Icon class="hover:text-main-400" name={ICONS.MENU}></Icon></button>
		<a href={getPageLink()} class="flex flex-row items-center gap-2 portrait:justify-center">
			<Icon name={ICONS.LOGO} class="text-3xl text-main-500"></Icon>
			<div class="text-xl font-bold">{ SITE_TITLE }</div>
		</a>
		<div class="flex flex-row items-center gap-2 portrait:hidden">
			{pages.map(([title, slug, icon]) => (
				<a href={getPageLink(slug)} class="flex flex-row items-center gap-1 px-2 py-1 transition-all rounded-full border-white hover:border-main-500 border-2 hover:shadow-custom hover:shadow-main-400">
					<span>{title}</span>
					{ icon && <Icon class="text-lg" name={icon}></Icon>}
				</a>
			))}
			<button><Icon class="hover:text-main-400" name={ICONS.SUN}></Icon></button>
		</div>
	</div>
	<div id="menu" class="absolute left-0 z-10 hidden">
		<div id="menu-background" class="absolute w-screen h-screen opacity-50 bg-main-950"></div>
		<div class="absolute left-0 flex gap-5 flex-col w-[75vw] h-screen p-10 bg-white">
			{pages.map(([title, slug, icon]) => (
				<a href={getPageLink(slug)} class="h-10 flex flex-row items-center gap-1 px-2 py-1 text-xl transition-all rounded-full border-white hover:border-main-500 border-2 hover:shadow-custom hover:shadow-main-400">
					<span>{title}</span>
					{ icon && <Icon class="text-lg" name={icon}></Icon>}
				</a>))}
			<button><Icon class="hover:text-main-400" name={ICONS.SUN}></Icon></button>
		</div>
	</div>

</header>

<script>
	function toggleMenu(){
		document.getElementById("menu")?.classList.toggle("hidden");
		document.getElementById("close-button")?.classList.toggle("hidden");
		document.getElementById("menu-button")?.classList.toggle("hidden");
	}
	
	function hideMenu(){
		document.getElementById("menu")?.classList.add("hidden");
		document.getElementById("close-button")?.classList.add("hidden");
		document.getElementById("menu-button")?.classList.remove("hidden");
	}

	document.getElementById("menu-button")?.addEventListener("click", toggleMenu);
	document.getElementById("menu-background")?.addEventListener("click", hideMenu);
	document.getElementById("close-button")?.addEventListener("click", hideMenu);
</script>