---
import {Icon} from "astro-icon/components"
import { ICONS } from "../const.ts";
interface Props {
    title: string;
    level?: number;
    startOpen?: boolean;
}
const { title, level, startOpen } = Astro.props;
---

<div>
    <section-header data-start-open={startOpen ? startOpen.toString() : false} 
        class="flex flex-row items-center justify-between py-2 cursor-pointer select-none">
        {level == 2 ? <h2 class="first-letter:capitalize">{title}</h2> : <h1>{title}</h1>}
        <span data-id="expand" >
            <Icon class="text-xl" name={ICONS.EXPAND}/>
        </span>
        <span data-id="collapse" class="hidden">
            <Icon class="text-xl" name={ICONS.COLLAPSE}/>
        </span>
    </section-header>
    <div class="hidden pb-2 landscape:pl-4">
        <slot/>
    </div>
</div>

<script>
    import SectionHeader from "../classes/CustomHeader";
</script>