---
import "../styles/global.css"
import SaveButton from "./SaveButton.astro";

interface Props {
    id: string;
	name: string;
    description: string;
	link?: string;
	imageLink?: string;
	cuisine?: string;
	course?: string;
	dietary?: string[];
}
const { id, name, description, link, imageLink, cuisine, course, dietary} = Astro.props;
---

<div class="hover-shadow box-content relative flex flex-row justify-between p-2 transition-all duration-100 rounded-lg min-w-60 min-h-5">
    <a href={link} class="flex flex-row flex-1 gap-4 pr-7">
        <img src={imageLink ?? "/eating-memories/favicon.svg"} class="placeholder">
        <div class="flex-1">
            <span class="subtitle capitalize font-bold">{name}</span>
            <span class="overflow-hidden text-ellipsis" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{description}</span>
            <div class="flex gap-1 text-sm flex-wrap">
                {cuisine && <span class="tag">{cuisine}</span>}
                {course && <span class="tag">{course}</span>}
                {dietary && <div class="flex gap-1 text-sm">{dietary.map((diet: String) => <span class="tag">{diet}</span>)}</div>}
            </div>
        </div> 
    </a>
    <div class="absolute right-2">
        <SaveButton recipeId={id}></SaveButton>
    </div>
</div>